 <header id="header">
        <a href="#" class="image avatar"><img src="/images/TheMask.jpg" alt="" /></a>
        <h2>Priska Pietra</h2>
        <h1>Cyber Security Padawan</h1>
        <h1>MSc CS @ ETHZ</h1>

        <hr style="border-bottom:solid 2px #7f7f7f;">

        <nav class="leftMenu">
            <table class="leftMenu">
                <tbody>
                    <tr>
                        <td><i class="icon fa-user"></i></td>
                        <td>
                            <a href="/index.html#intro">
                                <h1>Intro</h1>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="icon fa-th"></i></td>
                        <td>
                            <a href="/projects.html">
                                <h1>Projects</h1>
                            </a>
                        </td>
                    </tr>
                    <tr>
                            <td><i class="icon fa-edit"></i></td>
                            <td>
                                <a href="/notes.html">
                                    <h1>Notes</h1>
                                </a>
                            </td>
                        </tr>
                    <tr>
                        <td><i class="icon fa-envelope"></i></td>
                        <td>
                            <a href="/index.html#contact">
                                <h1>Contact</h1>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </nav>
    </header>
